In [1]:
# Hack to allow imports from directory above. Once the package is fully 
# functional, remove this and instead just install and import the package
import sys
sys.path.append("..")

import pandas as pd

from datetime import datetime
from portfolio_manager.portfolio import InvestmentPortfolio, load_portfolio
from portfolio_manager.return_calculators import ReturnCalculator, StandardReturnCalculator, TimeWeightedReturnCalculator

### Create a portfolio and perform some transactions

In [2]:
# Create a portfolio
portfolio = InvestmentPortfolio(name='T212')

In [3]:
# Make some deposits
portfolio.deposit(10)
portfolio.deposit(20, portfolio_value_before_deposit=15)

In [4]:
# Update the current portfolio value
portfolio.update_portfolio_value(75)

In [5]:
# Withdraw some funds
portfolio.withdraw(12.50, date=datetime(2022, 1, 1))

In [6]:
# View the portfolio history
portfolio.portfolio_history

[{'date': datetime.datetime(2021, 1, 17, 14, 18, 14, 830597),
  'total_deposited': 10,
  'current_portfolio_value': 10,
  'transaction_type': 'deposit'},
 {'date': datetime.datetime(2021, 1, 17, 14, 18, 14, 830732),
  'total_deposited': 10,
  'current_portfolio_value': 15,
  'transaction_type': 'update_portfolio_value'},
 {'date': datetime.datetime(2021, 1, 17, 14, 18, 14, 830732),
  'total_deposited': 30,
  'current_portfolio_value': 35,
  'transaction_type': 'deposit'},
 {'date': datetime.datetime(2021, 1, 17, 14, 18, 15, 40984),
  'total_deposited': 30,
  'current_portfolio_value': 75,
  'transaction_type': 'update_portfolio_value'},
 {'date': datetime.datetime(2022, 1, 1, 0, 0),
  'total_deposited': 17.5,
  'current_portfolio_value': 62.5,
  'transaction_type': 'withdrawal'}]

In [7]:
# View the portfolio history as a dataframe
df = pd.DataFrame(portfolio.portfolio_history, columns=['date', 'total_deposited', 'current_portfolio_value', 'transaction_type'])
df

,date,total_deposited,current_portfolio_value,transaction_type
0,2021-01-17 14:18:14.830597,10.0,10.0,deposit
1,2021-01-17 14:18:14.830732,10.0,15.0,update_portfolio_value
2,2021-01-17 14:18:14.830732,30.0,35.0,deposit
3,2021-01-17 14:18:15.040984,30.0,75.0,update_portfolio_value
4,2022-01-01 00:00:00.000000,17.5,62.5,withdrawal

### Standard return calculator

In [8]:
standard_return_calculator = StandardReturnCalculator()
portfolio_return = standard_return_calculator.calculate_return(portfolio, annualised=False)

In [9]:
portfolio_return = standard_return_calculator.calculate_return(portfolio, annualised=False)
portfolio_return

257.14285714285717

In [10]:
portfolio_return = standard_return_calculator.calculate_return(portfolio, annualised=True)
portfolio_return

280.05689555364313

### Time-weighted return calculator

In [11]:
time_weighted_return_calculator = TimeWeightedReturnCalculator()
portfolio_return = time_weighted_return_calculator.calculate_return(portfolio, annualised=False)
portfolio_return

221.43

In [12]:
time_weighted_return_calculator = TimeWeightedReturnCalculator()
annualised_portfolio_return = time_weighted_return_calculator.calculate_return(portfolio, annualised=True)
annualised_portfolio_return

240.3

### Saving/loading a portfolio

In [13]:
portfolio.save_portfolio()

In [14]:
p = load_portfolio('T212')

In [15]:
p.total_deposited

17.5

In [16]:
p.current_portfolio_value

62.5

In [17]:
p.name

'T212'

In [18]:
pd.DataFrame(p.portfolio_history)

,date,total_deposited,current_portfolio_value,transaction_type
0,2021-01-17 14:18:14.830597,10.0,10.0,deposit
1,2021-01-17 14:18:14.830732,10.0,15.0,update_portfolio_value
2,2021-01-17 14:18:14.830732,30.0,35.0,deposit
3,2021-01-17 14:18:15.040984,30.0,75.0,update_portfolio_value
4,2022-01-01 00:00:00.000000,17.5,62.5,withdrawal